@{
    ViewData["Title"] = "Home Page";
}
  <h1 class="text-center mt-3 mb-3">Dojo Survey</h1>
  <form action="/process" method="POST">
    <div class="form-group">
      <label for="FullName">Your Name: </label>
      <input type="text" class="form-control" name="FullName">
    </div>
    <div class="form-group">
      <label for="Location">Dojo Location: </label>
      <select class="form-control" name="Location">
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Arlington">Arlington</option>
        <option value="Chicago">Chicago</option>
        <option value="Tulsa">Tulsa</option>
        <option value="Oakland">Oakland</option>
        <option value="Boise">Boise</option>
        <option value="Orange County">Orange County</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Language">Dojo Location: </label>
      <select name="Language" class="form-control">
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="MySQL">MySQL</option>
        <option value="Python">Python</option>
        <option value="Mean">Mean</option>
        <option value="C#">C#</option>
        <option value=".Net">ASP.NET</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Comment">Comment (Optional)</label>
      <br/>
      <textarea name="Comment" cols="5" rows="5" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
